@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    AdminHata.Icerik = "";
}
<br />
@*Sipariş*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>SİPARİŞLER</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white;">
            YENİ SİPARİŞ AÇ
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Siparis" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            ONAY BEKLEYEN SİPARİŞLER
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Siparis/Devam" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN SİPARİŞLER
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Siparis/KT" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ TESLİM SİPARİŞLER
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Siparis/YH" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            YÜKLEMEYE HAZIR SİPARİŞLER
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkblue; color:white; "> TEKLİF HAZIRLA</a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkblue; color:white; "> CHECK LİST HAZIRLA</a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> TESLİMAT OLUŞTUR</a>
        <a href="/Urunler/Stok" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; "> STOK DURUMU</a>
        <a href="/Siparis/Gecmis" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ SİPARİŞLER
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK SİPARİŞLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK SİPARİŞLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>AYLIK SİPARİŞLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK SİPARİŞLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Satın Alma*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>SATIN ALMALAR</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a class="btn btn-xs" href="/SatinAlma" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> YENİ SATIN ALMA AÇ</a>
        <a class="btn btn-xs" href="/SatinAlma/Talepler" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            SATIN ALMA TALEPLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN SATIN ALMALAR
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ KABUL SATIN ALMALAR
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> MAL KABUL OLUŞTUR</a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white; "> SAYIM YAP </a>
        <a href="/Urunler/Stok" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; "> STOK DURUMU</a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ SATIN ALMALAR
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK SATIN ALMALAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK SATIN ALMALAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK SATIN ALMALAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK SATIN ALMALAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Üretim*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>ÜRETİM</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            YENİ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ TAMAMLANAN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> ÜRÜNÜ ÜRETİME AL </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white; "> ÜRÜNÜ ÜRETİMDEN ÇIKAR </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK ÜRETİMLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-industry"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK ÜRETİMLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-industry"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK ÜRETİMLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-industry"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK ÜRETİMLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-industry"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Depo*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>DEPO</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a class="btn btn-xs" href="/Depo" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            YENİ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" href="/Depo/Devam" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" href="/Depo/Kısmi" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ SEVK EDİLEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" href="/Depo/BoyaSevk" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white; "> ÜRÜNÜ BOYAYA ÇIKAR </a>
        <a class="btn btn-xs" href="/Depo/UrunSevk" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white; "> HAMMADDE & HIRDAVAT ÇIKAR </a>
        <a href="/Urunler/Stok" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; "> STOK DURUMU </a>
        <a class="btn btn-xs" href="/Depo/Gecmis" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK FAB. SEVK EDİLENLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK FAB. SEVK EDİLENLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK FAB. SEVK EDİLENLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK FAB. SEVK EDİLENLER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Boya*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>BOYA</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a href="/Boya" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            YENİ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Boya/Devam" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Boya/KısmiBoyanan" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ BOYANAN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a href="/Boya/Al" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> ÜRÜNÜ BOYAYA AL </a>
        <a href="/Boya/Cikar" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white; "> ÜRÜNÜ BOYADAN ÇIKAR </a>
        <a href="/Gecmis" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK BOYANANLAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-fill-drip"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK BOYANANLAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-fill-drip"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK BOYANANLAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-fill-drip"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK BOYANANLAR</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-fill-drip"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Döşeme*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>DÖŞEME</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
            YENİ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            DEVAM EDEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            KISMİ DÖŞENEN İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> ÜRÜNÜ DÖŞEMEYE AL </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white;"> ÜRÜNÜ DÖŞEMEDEN ÇIKAR </a>
        <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
            GEÇMİŞ İŞ EMİRLERİ
            <span class="right badge badge-danger">0</span>
        </a>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK DÖŞEMELER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bookmark"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK DÖŞEMELER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bookmark"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK DÖŞEMELER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bookmark"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK DÖŞEMELER</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bookmark"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Ambalaj*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>AMBALAJ</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <div class="col-12">
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
                YENİ İŞ EMİRLERİ
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                DEVAM EDEN İŞ EMİRLERİ
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                KISMİ AMBALAJ İŞ EMİRLERİ
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkblue; color:white; "> ÜRÜN ETİKETİ YAZDIR </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; "> ÜRÜNÜ AMBALAJA AL </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white;"> ÜRÜNÜ AMBALAJDAN ÇIKAR </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                GEÇMİŞ İŞ EMİRLERİ
                <span class="right badge badge-danger">0</span>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK AMBALAJ</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK AMBALAJ</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK AMBALAJ</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK AMBALAJ</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Sevkiyat*@
<div class="row" style="background-color:white; border-radius:10px; padding:10px; margin:5px; margin-bottom:15px;">
    <div class="col-lg-12 col-12">
        <div class="small-box bg-dark">
            <div class="inner">
                <h4>SEVKİYAT</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <div class="col-12">
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:green; color:white; ">
                YENİ İŞ EMİRLERİ
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                DEVAM EDEN SİPARİŞLER
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                KISMİ TESLİM SİPARİŞLER
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                YÜKLEMEYE HAZIR SİPARİŞLER
                <span class="right badge badge-danger">0</span>
            </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:darkred; color:white;"> HAMMADDE VE HIRDAVAT SEVK ET </a>
            <a href="/Urunler/Stok" class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; "> STOK DURUMU </a>
            <a class="btn btn-xs" style="font-size:15px; margin-bottom:15px; background-color:black; color:white; ">
                GEÇMİŞ SEVKİYATLAR
                <span class="right badge badge-danger">0</span>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>
                        <p>GÜNLÜK SEVKİYAT</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dolly"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK SEVKİYAT</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dolly"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>HAFTALIK SEVKİYAT</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dolly"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>
                        <p>YILLIK SEVKİYAT</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dolly"></i>
                    </div>
                    <a href="#" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
