@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@inject Context c

@{
    Layout = null;
}
@{
    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);

    int bayiid = Convert.ToInt32(cerez);

    var bayi = c.Bayilers.FirstOrDefault(v => v.ID == bayiid);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Bayi Panel</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="/Template/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Template/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/Template/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="alt-menu sidebar-noneoverflow">

    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    @*Nav Bar*@
    <div class="header-container" style="background-color:white;">
        <header class="header navbar navbar-expand-sm">
            
            <ul class="navbar-item flex-row mr-auto">
                <center><h4 style="color:darkred">@bayi.Unvan | @bayi.BayiKodu</h4></center>
            </ul>

            <ul class="navbar-item flex-row nav-dropdowns" style="color:black">

                <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1" style="color:black">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="user-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media" style="color:black">
                            <div class="media-body align-self-center" style="color:black">
                                <h6 style="color:black">Demo</h6>
                                <p style="color:black">Yönetici</p>
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="dropdown-item">
                            <a href="#">
                                Hesap Bilgilerim
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="#">
                                Siparişlerim
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="#">
                                Ödeme Geçmişim
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="#">
                                Ödeme Yap
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="#">
                                Destek Merkezi
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="/BLogin/Cikis">
                                Çıkış Yap
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    @*Body*@
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="search-overlay"></div>
        <div class="topbar-nav header navbar" role="banner">
            <nav id="topbar">
                <ul class="navbar-nav theme-brand flex-row  text-center">
                    <li class="nav-item theme-logo">
                        <a href="#">
                            <img src="~/Resimler/logo.jpg" class="navbar-logo" alt="logo">
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled menu-categories" id="topAccordion">
                    <li class="menu single-menu">
                        <div class="" style="margin-right:50px;">
                            <a class="navbar-brand" href="#">
                                <img alt="logo" src="~/Resimler/logo.jpg" height="60" width="120">
                            </a>
                        </div>
                    </li>
                    <li class="menu single-menu">
                        <a href="/BLogin" class="dropdown-toggle">
                            <div class="">
                                <span>AnaSayfa</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="/Blogin/Urunler" class="dropdown-toggle">
                            <div class="">
                                <span>Ürünler</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="/BLogin/Siapris" class="dropdown-toggle">
                            <div class="">
                                <span>Siparişlerim</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="/BLogin/Odemeler" class="dropdown-toggle">
                            <div class="">
                                <span>Ödemelerim</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    @*Footer*@
    <div class="main-container" id="container">
        <div id="content" class="main-content">
            <div style="margin:75px;" class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="/Template/assets/js/loader.js"></script>
    <script src="/Template/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/Template/bootstrap/js/popper.min.js"></script>
    <script src="/Template/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Template/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/Template/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="/Template/assets/js/custom.js"></script>
    <script src="/Template/plugins/highlight/highlight.pack.js"></script>
    <script src="/Template/plugins/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/Template/plugins/bootstrap-maxlength/custom-bs-maxlength.js"></script>
</body>
</html>