
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="/Template/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Template/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/Template/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/Template/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="alt-menu sidebar-noneoverflow">

    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <div class="header-container" style="background-color:white">
        <header class="header navbar navbar-expand-sm">

            <a href="javascript:void(0);" class="sidebarCollapse" style="color:black" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="#"><img alt="logo" src="~/Resimler/logo.jpg"> </a>
            </div>

            <ul class="navbar-item flex-row mr-auto">
            </ul>

            <ul class="navbar-item flex-row nav-dropdowns" style="color:black">

                <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1" style="color:black">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="user-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media" style="color:black">
                            <div class="media-body align-self-center" style="color:black">
                                <h6 style="color:black">Demo</h6>
                                <p style="color:black">Yönetici</p>
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">                       
                        <div class="dropdown-item">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> <span> Profil</span>
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="/Login/Cikis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> <span> Çıkış</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="search-overlay"></div>
        <div class="topbar-nav header navbar" role="banner">
            <nav id="topbar">
                <ul class="navbar-nav theme-brand flex-row  text-center">
                    <li class="nav-item theme-logo">
                        <a href="#">
                            <img src="~/Resimler/logo.jpg" class="navbar-logo" alt="logo">
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled menu-categories" id="topAccordion">
                    <li class="menu single-menu">
                        <a href="/Admin" class="dropdown-toggle">
                            <div class="">
                                <span>AnaSayfa</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <span>Sipariş</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="app" data-parent="#topAccordion" style="width:250px;">
                            <li>
                                <a href="/Siparis/Yeni"> Yeni Sipariş Aç </a>
                            </li>
                            <li>
                                <a href="/Siparis/Aktif"> Devam Eden Siparişler </a>
                            </li>
                            <li>
                                <a href="/Siparis/KT"> Kısmı Teslim Siparişler </a>
                            </li>
                            <li>
                                <a href="/Siparis/TesBek"> Yüklemeye Hazır Siparişler </a>
                            </li>
                            <li>
                                <a href="/Siparis/Gecmis"> Geçmiş Siparişler </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu single-menu">
                        <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <span>Satın Alma</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="app" data-parent="#topAccordion">
                            <li>
                                <a href="/SatinAlma/Aktif"> Aktif </a>
                            </li>
                            <li>
                                <a href="/SatinAlma/Gecmis"> Geçmiş </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu single-menu">
                        <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <span>Ürünler</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="app" data-parent="#topAccordion">
                            <li>
                                <a href="/Hammadde"> Hammadde </a>
                            </li>
                            <li>
                                <a href="/YariMamul"> Yarı Mamul </a>
                            </li>
                            <li>
                                <a href="/Mamul"> Mamul </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu single-menu">
                        <a href="/Bayi" class="dropdown-toggle">
                            <div class="">
                                <span>Bayiler</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="/Tedarikci" class="dropdown-toggle">
                            <div class="">
                                <span>Tedarikçiler</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="/Odemeler" class="dropdown-toggle">
                            <div class="">
                                <span>Ödemeler</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu single-menu">
                        <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <span>Parametreler</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="app" data-parent="#topAccordion">
                            <li>
                                <a href="/Parametre/Birim"> Birimler </a>
                            </li>
                            <li>
                                <a href="/Parametre/Departman"> Departmanlar </a>
                            </li>
                            <li>
                                <a href="/Parametre/Kategori"> Kategoriler </a>
                            </li>
                            <li>
                                <a href="/Parametre/Kullanici"> Kullanıcılar </a>
                            </li>
                            <li>
                                <a href="/Parametre/YetkiTurlari"> Yetki Tanımları </a>
                            </li>
                            <li>
                                <a href="/Parametre/Ozellik"> Ürün Özellikleri  </a>
                            </li>
                        </ul>
                    </li>
                   @*  <li class="menu single-menu">
                        <a href="/Login/Cikis" class="dropdown-toggle">
                            <div class="">
                                <span>Çıkış</span>
                            </div>
                        </a>
                    </li> *@
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-container" id="container">
        <div id="content" class="main-content">
            @RenderBody()
        </div>
        <br />
        <br />
    </div>

    <script src="/Template/assets/js/loader.js"></script>
    <script src="/Template/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/Template/bootstrap/js/popper.min.js"></script>
    <script src="/Template/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Template/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/Template/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="/Template/assets/js/custom.js"></script>
    <script src="/Template/plugins/highlight/highlight.pack.js"></script>
    <script src="/Template/plugins/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/Template/plugins/bootstrap-maxlength/custom-bs-maxlength.js"></script>
</body>
</html>