
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VNN MOBİLYA | ADMİN PANEL</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/Tema/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Tema/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/Tema/dist/css/adminlte.min.css">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img src="/Resimler/logosvg.svg" />
        </div>
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="#" class="brand-link">
                <center><h5 class="label">VNN MOBİLYA ADMİN</h5></center>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Admin" class="nav-link">
                                <p>
                                    AnaSayfa
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Urunler" class="nav-link">
                                <p>
                                    Ürünler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Bayi" class="nav-link">
                                <p>
                                    Bayiler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Tedarikci" class="nav-link">
                                <p>
                                    Tedarikçiler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Fasoncular" class="nav-link">
                                <p>
                                    Fasoncular
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Odemeler" class="nav-link">
                                <p>
                                    Ödemeler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Sipariş
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni Sipariş Aç</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Onay Bekleyen Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Devam" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/KT" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Teslim Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/YH" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Yüklemeye Hazır Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkblue"></i>
                                        <p>Teklif Hazırla</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkblue"></i>
                                        <p>Check List Hazırla</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Teslimat Oluştur</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Stok Durumu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Gecmis" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş Siparişler</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Satın Alma
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni Satın Alma Aç</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Satın Alma Talepleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden Satın Almalar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Kabul Satın Almalar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Mal Kabul Oluştur</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Sayım Yap</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Stok Durumu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş Satın Almalar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Üretim
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Tamamlanan İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Ürünü Üretime Al</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Ürünü Üretimden Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş İş Emirleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Depo
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Sevk Edilen İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Ürünü Boyaya Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Hammadde & Hırdavat Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Stok Durumu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş İş Emirleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Boya
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Boyanan İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Ürünü Boyaya Al</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Ürünü Boyadan Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş İş Emirleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Döşeme
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Boyanan İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Ürünü Döşemeye Al</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Ürünü Döşemeden Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş İş Emirleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Ambalaj
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Ambalaj İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkblue"></i>
                                        <p>Ürün Etiketi Yazdır</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Ürünü Ambalaja Al</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Ürünü Ambalajdan Çıkar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Geçmiş İş Emirleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Sevkiyat
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:green"></i>
                                        <p>Yeni İş Emirleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Devam Eden Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Kısmi Teslim Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Yüklemeye Hazır Siparişler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                        <p>Hammadde & Hırdavat Sevk Et</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <i class="fa fa-circle nav-icon" style="color:black"></i>
                                        <p>Stok Durumu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Geçmiş Sevkiyatlar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <p>
                                    Parametreler
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Parametre/Birim" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Birimler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Departman" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Departmanlar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Kategori" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kategoriler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Kullanici" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kullanıcılar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/YetkiTurlari" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yetki Türleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Ozellik" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ürün Özellikleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/Cikis" class="nav-link">
                                <p>
                                    Çıkış
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
        <aside class="control-sidebar control-sidebar-dark">

        </aside>
    </div>
    <script src="/Tema/plugins/jquery/jquery.min.js"></script>
    <script src="/Tema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Tema/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/Tema/dist/js/adminlte.js"></script>
    <script src="/Tema/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/Tema/plugins/raphael/raphael.min.js"></script>
    <script src="/Tema/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/Tema/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="/Tema/plugins/chart.js/Chart.min.js"></script>
    <script src="/Tema/dist/js/demo.js"></script>
    <script src="/Tema/dist/js/pages/dashboard2.js"></script>
</body>
</html>
