
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VNN | SYS Paneli</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/Tema/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Tema/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/Tema/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/Tema/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/Tema/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="/Tema/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/Tema/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="/Tema/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" href="/Tema/plugins/bs-stepper/css/bs-stepper.min.css">
    <link rel="stylesheet" href="/Tema/plugins/dropzone/min/dropzone.min.css">
    <link rel="stylesheet" href="/Tema/dist/css/adminlte.min.css">

    <style>
        table.table-tab {
            border-collapse: collapse;
            border-color:black;
            width: 100%;
        }

            table.table-tab th, table.table-tab td {
                border: 2px double #B17F2C;
            }

            table.table-tab th {
                background-color: #f8f9fa;
                color: #B17F2C;
                border-top: 2px solid #B17F2C;
            }

            table.table-tab td {
                background-color: white;
                color: #B17F2C;
            }

            table.table-tab thead th {
                border-top: 2px solid #B17F2C;
            }

        table.dataTable tbody tr {
            height: 25px;
        }

        table.dataTable tbody td {
            line-height: 25px;
            vertical-align: middle;
        }
    </style>
</head>
<body class="hold-transitione dark-mode layout-top-nav">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-dark">
            <div class="container" style="margin-left:0px;">
                <a href="#" class="navbar-brand">
                    <img src="/Resimler/vnnlogotrans.png" width="190" height="60">
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse" style="font-size:15px;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/Admin" class="nav-link">
                                <p>
                                    AnaSayfa
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Urunler" class="nav-link">
                                <p>
                                    Ürünler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Cari</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Bayi" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon"></i>
                                            Bayiler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Tedarikci" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon"></i>
                                            Tedarikçiler
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Odemeler" class="nav-link">
                                <p>
                                    Ödemeler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Sipariş</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Siparis/Yeni" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni Sipariş Aç
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Onay Bekleyen Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/KT" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Teslim Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/YH" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Yüklemeye Hazır Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Teklif" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkblue"></i>
                                            Teklif Hazırla
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Teslimat" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Teslimat Oluştur
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Teslimatlar" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Teslimat Belgeleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Stok Durumu
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Siparis/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş Siparişler
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Satın Alma</a>
                            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/SatinAlma" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni Satın Alma Aç
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Talepler" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Satın Alma Talepleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Bekleyen" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Onay Bekleyen Satın Almalar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden Satın Almalar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Kısmi" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Kabul Satın Almalar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/MalKabul" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Mal Kabul Oluştur
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Sayim" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Sayım Yap
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Stok Durumu
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/SatinAlma/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş Satın Almalar
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Üretim</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Tamamlanan İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Ürünü Üretime Al
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Ürünü Üretimden Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş İş Emirleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Depo</a>
                            <ul aria-labelledby="dropdownSubMenu4" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Depo" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Depo/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Depo/Kismi" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Sevk Edilen İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Depo/BoyaSevk" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Ürünü Boyaya Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Depo/UrunSevk" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Hammadde & Hırdavat Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Stok Durumu
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Depo/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş İş Emirleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu5" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Boya</a>
                            <ul aria-labelledby="dropdownSubMenu5" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Boya" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Boya/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Boya/KısmiBoyanan" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Boyanan İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Boya/Al" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Ürünü Boyaya Al
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Boya/Cikar" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Ürünü Boyadan Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Boya/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş İş Emirleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu6" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Döşeme</a>
                            <ul aria-labelledby="dropdownSubMenu6" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Doseme" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Doseme/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Doseme/KısmiDosenen" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Döşenen İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Doseme/Al" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Ürünü Döşemeye Al
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Doseme/Cikar" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Ürünü Döşemeden Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Doseme/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş İş Emirleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu7" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Ambalaj</a>
                            <ul aria-labelledby="dropdownSubMenu7" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Ambalaj" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/Devam" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/KısmiAmbalaj" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Ambalaj İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/Etiket" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkblue"></i>
                                            Ürün Etiketi Yazdır
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/Al" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Ürünü Ambalaja Al
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/Cikar" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Ürünü Ambalajdan Çıkar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ambalaj/Gecmis" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş İş Emirleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Sevkiyat</a>
                            <ul aria-labelledby="dropdownSubMenu8" class="dropdown-menu border-0 shadow" style="width:260px;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:green"></i>
                                            Yeni İş Emirleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Devam Eden Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Kısmi Teslim Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Yüklemeye Hazır Siparişler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:darkred"></i>
                                            Hammadde & Hırdavat Sevk Et
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urunler/Stok" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Stok Durumu
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            <i class="fa fa-circle nav-icon" style="color:black"></i>
                                            Geçmiş Sevkiyatlar
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu9" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Parametreler</a>
                            <ul aria-labelledby="dropdownSubMenu9" class="dropdown-menu border-0 shadow" style="width:250px;">
                                <li class="nav-item">
                                    <a href="/Parametre/Birim" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Birimler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Departman" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Departmanlar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Kategori" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Kategoriler
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Kullanici" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Kullanıcılar
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/YetkiTurlari" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Yetki Türleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/Ozellik" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Ürün Özellikleri
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Parametre/UrunTurlari" class="nav-link">
                                        <p>
                                            <i class="far fa-circle nav-icon"></i>
                                            Ürün Türleri
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/Cikis" class="nav-link">
                                <p>
                                    Çıkış
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                </ul>
            </div>
        </nav>
        <div class="content-wrapper" style="background-color:gainsboro;">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
        <aside class="control-sidebar control-sidebar-dark">

        </aside>
    </div>
    <script src="/Tema/plugins/jquery/jquery.min.js"></script>
    <script src="/Tema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Tema/plugins/select2/js/select2.full.min.js"></script>
    <script src="/Tema/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="/Tema/plugins/moment/moment.min.js"></script>
    <script src="/Tema/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="/Tema/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/Tema/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/Tema/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/Tema/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="/Tema/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="/Tema/plugins/dropzone/min/dropzone.min.js"></script>
    <script src="/Tema/dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
</body>
</html>
