@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    TeklifHata.Icerik = "";
}

<br />

<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Tüm Teklifler</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable2" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Bayi Adı</th>
                                    <th>Teklif Tarihi</th>
                                    <th>Teklif No</th>
                                    <th>Toplam Sipariş Miktarı</th>
                                    <th>Teklif Tutarı</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Bayi Seçimi (Yeni Teklif)</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover" style="width:100%; font-size:14px;">
                            <thead>
                                <tr>
                                    <th>Bayi Kodu</th>
                                    <th>Ünvan</th>
                                    <th>Firma Adı</th>
                                    <th>Telefon</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var bayiid;
    var myDataTable;
    var myDataTable2;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/BayiApi/BayiList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'bayiKodu', width: '15%' },
                { data: 'unvan', width: '40%' },
                { data: 'kullaniciAdi', width: '15%' },
                { data: 'telefon', width: '15%' },
                {
                    data: 'id',
                    width: '15%',
                    render: function (data, type, full, meta) {
                        return '<a href="#" onclick="BayiSec(' + data + ')" class="btn btn-success mb-2 mr-2 btn-rounded"><i class="fas fa-check-circle"></i></a>'

                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '90vh',
            scrollCollapse: true,
            ordering: false,
            rowCallback: function (row, data, index) {
                $(row).attr('data-id', data.id);
            },
        });

        myDataTable2 = new DataTable('#myTable2', {
            ajax: {
                url: '/TeklifApi/TeklifList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'bayiID' },
                { data: 'siparisTarihi' },
                { data: 'siparisNo' },
                { data: 'toplamAdet' },
                { data: 'toplamTutar' },
                { data: 'siparisDurum' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/Teklif/YeniDetay/' + data + '" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></button>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '73vh',
            scrollCollapse: true,
            ordering: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        if (myDataTable2) {
            myDataTable2.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    });
    function BayiSec(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Seçilen Bayi İçin Teklif Belgesi Oluşturulacak!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Oluştur!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/Teklif/YeniTeklif/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                }).then(function () {
                    if (result.redirectUrl) {
                        window.location.href = result.redirectUrl;
                    }
                });
            }
        });
    }
</script>