@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    SiparisHata.Icerik = "";
    int id = Convert.ToInt32(ViewBag.id);
    string durum = ViewBag.durum;
}
<br />


<div class="col-lg-12">
    <div class="card" style="background-color:white;">
        <div class="card-body">
            <center><h4 style="color:#B17F2C; font-weight:bold;">SİPARİŞ FORMU</h4></center>
            <div class="row">
                <div class="col-6 col-sm-6">
                    <div class="card-body" style="font-size:16px;">
                        <table class=" table-tab" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        FATURA ÜNVANI / <span style="font-size:12px;">INVOICE TITLE</span>
                                    </th>
                                    <th style="color:black;width:22.5%; text-align: center; border-color:black;" id="txtunvan"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        FİRMA ADI / <span style="font-size:12px; border-color:black;">COMPANY NAME</span>
                                    </th>
                                    <th style="color:black; width:22.5%; text-align: center; border-color:black;" id="txtfirmaadi"></th>
                                </tr>
                                <tr style="background-color:black; height:20px;">
                                    <th style="background-color:black; border-color:black; color:black;">B</th>
                                    <th style="background-color:black; text-align: center; border-color:black;"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        SİPARİŞ ADI / <span style="font-size:12px;">ORDER NAME</span>
                                    </th>
                                    <th style="color:red;width:22.5%; text-align: center; font-size:16px; border-color:black;" id="txtmusteri"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">SİPARİŞ NO / <span style="font-size:12px;">ORDER NO</span></th>
                                    <th style="color:red;width:22.5%; text-align: center; border-color:black;" id="txtsiparisno"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">SİPARİŞ TARİHİ / <span style="font-size:12px;">ORDER DATE</span></th>
                                    <th style="color:red; width:22.5%; text-align: center; border-color:black;" id="txtsiparistarihi"></th>
                                </tr>
                                <tr style="background-color:black; height:20px;">
                                    <th style="background-color:black; border-color:black; color:black;">B</th>
                                    <th style="background-color:black; border-color:black;"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        TESLİMAT ŞEKLİ / <span style="font-size:12px;">
                                            DELIVERY METHOD
                                        </span>
                                    </th>
                                    <th style="color:black;width:22.5%; text-align: center; border-color:black;">
                                        <label id="txtteslimatSekli" style="color:red; border-color:black; height:15px; font-size:17px; font-weight:bold;"></label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">TESLİMAT TARİHİ / <span style="font-size:12px;">DEADLINE</span></th>
                                    <th style="color:red;width:22.5%; text-align: center; font-size:16px; border-color:black;">
                                        <label id="txtteslimathafta" style="color:red; border-color:black; height:15px; font-size:17px; font-weight:bold;"></label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        TESLİMAT ADRESİ / <span style="font-size:12px;">
                                            DELIVERY ADDRESS
                                        </span>
                                    </th>
                                    <th style="color:black;width:22.5%; border-color:black; text-align: center;" id="txtadres">
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-6 col-sm-6">
                    <div class="card-body" style="font-size:16px;">
                        <table class=" table-tab" style="width:100%; border-color:black;">
                            <thead>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - ADEDİ / <span style="font-size:12px;">TOTAL ORDER - NUMBER</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamadet"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - PAKET ADEDİ /<span style="font-size:12px;"> TOTAL ORDER - NUMBER OF PACKAGES</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamparcaadet"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - M3 /<span style="font-size:12px;"> TOTAL ORDER - M3</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamm3"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - KG /<span style="font-size:12px;"> TOTAL ORDER - KG</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamkg"></th>
                                </tr>
                                <tr style="background-color:black; height:27px;">
                                    <th style="background-color:black; border-color:black;"></th>
                                    <th style="background-color:black; border-color:black;" "></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">LİSTE TOPLAM /<span style="font-size:12px;"> LİST TOTAL</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txtaratoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">
                                        BAYİ İSKONTO /<span style="font-size:12px;"> DEALER DISCOUNT</span>
                                        %@ViewBag.iskonto
                                    </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txtiskontotoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">
                                        İSKONTOLU FİYAT /<span style="font-size:12px;"> DISCOUNTED PRICE</span>
                                    </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtindirimlifiyat"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">KDV TOPLAM /<span style="font-size:12px;"> VAT TOTAL</span> %@ViewBag.kdv</th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtkdvtoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">GENEL TOPLAM /<span style="font-size:12px;"> GRAND TOTAL</span> </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtgeneltoplam"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div style="font-size:12px;">
                        <table class="table table-bordered" id="sepettable">
                            <thead>
                                <tr style="background-color:#B17F2C; color:black;">
                                    <th style="width:11%; border-color:black;">
                                        <center>
                                            ÜRÜN RESMİ
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black;">
                                        <center>
                                            ÜRÜM KODU
                                        </center>
                                    </th>
                                    <th style="width:18%; border-color:black;">
                                        <center>
                                            ÜRÜN ADI
                                        </center>
                                    </th>
                                    <th style="width:2%; border-color:black;"><center>SİPARİŞ ADET</center></th>
                                    <th style="width:2%; border-color:black;"><center>TESLİM ADET</center></th>
                                    <th style="width:2%; border-color:black;">
                                        <center>
                                            KALAN ADET
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black;"><center>AHŞAP RENGİ</center></th>
                                    <th style="width:10%; border-color:black;"><center>DERİ RENGİ</center></th>
                                    <th style="width:10%; border-color:black;">
                                        <center>
                                            ÖZEL NOT
                                        </center>
                                    </th>
                                    <th style="width:7%; border-color:black;">
                                        <center>
                                            LİSTE FİYAT
                                        </center>
                                    </th>
                                    <th style="width:7%; border-color:black;">
                                        <center>
                                            İNDİRİMLİ FİYAT
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black;">
                                        <center>
                                            TOPLAM FİYAT
                                        </center>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="float:right;">
                        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#dosya" id="DosyaButton"><i class="fas fa-file"></i> Onay Dosyasını Gör</a>
                        <a href="#" onclick="Git()" class="btn btn-primary btn-sm" style="margin:5px;" id="DuzenleButton">Siparişi Düzenle</a>
                        <a href="#" onclick="yazdir()" class="btn btn-info btn-sm" style="margin:5px;"><i class="fas fa-print"></i> Yazdır</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dosya">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Onaylı Belge Ön İzleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="filePreview" src="" frameborder="0" style="width: 100%; height: 600px;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teslimatmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Teslimat Bilgileri</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="tesTable" class="table table-hover" width="100%">
                            <thead>
                                <tr style="background-color:#B17F2C">
                                    <th style="width:20%; border-color:black; color:black;">
                                        <center>
                                            TESLİMAT TARİHİ
                                        </center>
                                    </th>
                                    <th style="width:15%; border-color:black; color:black;">
                                        <center>
                                            BAYİ ADI
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black; color:black;">
                                        <center>
                                            TOPLAM TESLİM EDİLEN ÜRÜN ADEDİ
                                        </center>
                                    </th>
                                    <th style="width:45%; border-color:black; color:black;">
                                        <center>
                                            BELGE DURUMU
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black; color:black;"><center></center></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    let DisplayButton = 'inline-block';
    var satirid = 0;
    var teslimsatirid = 0;
    var myDataTable;
    var myDataTable2;
    function initializeDataTable() {
        myDataTable = new DataTable('#sepettable', {
            ajax: {
                url: '/SiparisApi/SiparisDetay/@id',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'resim',
                    render: function (data, type, full, meta) {
                        return '<center><img src="' + data + '" class="img-thumbnail" style="width: 100px;" /></center>';
                    }
                },
                {
                    data: 'urunKodu',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'urunAciklama',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'miktar',
                    render: function (data, type, row, meta) {
                        return '<center><span class="right badge badge-success" style="font-size:14px;">' + data + '</span></center>';
                    }
                },
                {
                    data: 'teslimAdet',
                    render: function (data, type, row, meta) {
                        if (data > 0) {
                            return '<div style="text-align: center; font-size:20px; color:black;"><a href="#" data-toggle="modal" data-target="#teslimatmodal" onclick="TeslimatAc(' + row.id + ')"><span class="right badge badge-danger">' + data + '</span></a></div>';
                        }
                        else {
                            return '<center><span class="right badge badge-danger" style="font-size:14px;">' + data + '</span></center>';
                        }
                    }
                },
                {
                    data: 'kalanMiktar',
                    render: function (data, type, row, meta) {
                        return '<center><span class="right badge badge-warning" style="font-size:14px;">' + data + '</span></center>';
                    }
                },
                {
                    data: 'ahsapRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'deriRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'aciklama',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'birimFiyat',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'indirimFiyat',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
                {
                    data: 'satirToplam',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:black;">' + data + '</div>';
                    }
                },
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            ordering: false,
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function TeslimatAc(element) {
        teslimsatirid = element;
        if (myDataTable2) {
            myDataTable2.destroy();
        }
        myDataTable2 = new DataTable('#tesTable', {
            ajax: {
                url: '/SiparisApi/SeciliTeslimatList/' + element,
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'teslimatTarihi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:white;">' + data + '</div>';
                    }
                },
                {
                    data: 'bayiID',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:white;">' + data + '</div>';
                    }
                },
                {
                    data: 'miktar',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:white;">' + data + '</div>';
                    }
                },
                {
                    data: 'tamamlanmaDurum',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center; color:white;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/Siparis/TeslimatDetay/' + data + '" class="btn btn-primary btn-sm" ><i class="fas fa-eye"></i></a>';
                    },
                    orderable: false
                },
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        Bilgiler();
        initializeDataTable();
    }
    $(document).ready(function () {
        Bilgiler();
        initializeDataTable();
    })
    function Bilgiler() {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SiparisDetayBilgi",
            data: { id: @id },
            success: function (x) {
                $("#txtsiparistarihi").text(x.siparisTarihi);
                $("#txttoplamadet").text(x.toplamAdet);
                $("#txtaratoplam").text(x.araToplam);
                $("#txtgeneltoplam").text(x.toplamTutar);
                $("#txtiskontotoplam").text(x.istoktoToplam);
                $("#txtkdvtoplam").text(x.kdvToplam);
                $("#txtsiparisno").text(x.siparisNo);
                $("#txtsiparisdurum").text(x.siparisDurum);
                $("#txtkullanici").text(x.kullanici);
                $("#txtindirimlifiyat").text(x.indirimlifiyat);
                $("#txtunvan").text(x.unvan);
                $("#txtfirmaadi").text(x.firmaAdi);
                $("#txtyetkili").text(x.yetkili);
                $("#txttelefon").text(x.telefon);
                $("#txtadres").text(x.adres);
                $("#txttoplamparcaadet").text(x.toplamparcaadet);
                $("#txttoplamm3").text(x.toplamm3);
                $("#txttoplamkg").text(x.toplamkg);
                $("#txtteslimathafta").text(x.terminHaftasi);
                $("#txtmusteri").text(x.siparisBayiAciklama);
                $("#txtteslimatSekli").text(x.teslimatSekli);
                $("#filePreview").attr("src", x.dosyaYolu);

                $('#DuzenleButton').css("display", DisplayButton);
            }
        });
    }
    function Git() {
        window.location.href = "/Siparis/YeniDetay/" + @id;
    }
    function yazdir() {
        if ($("#txtteslimathafta").text() != "" && $("#txtsiparisno").text() != "" && $("#txtmusteri").text() != "" && $("#txtsiparistarihi").text() != "") {
            $.ajax({
                url: '/Siparis/FormYazdir?id=' + @id,
                type: 'GET',
                success: function (response) {
                    var pdfUrl = response.pdfUrl;
                    var reportName = response.fileName;
                    downloadPDF(pdfUrl, reportName);
                },
                error: function (error) {
                    console.error("Error while downloading PDF:", error);
                }
            });
        }
        else {
            Swal.fire({
                icon: 'warning',
                title: 'LÜTFEN GEREKLİ ALANLARI DÜZENLE BÖLÜMÜNDEN GÜNCELLEYİP TEKRAR DENEYİNİZ!!!'
            });
        }
    }
    function downloadPDF(pdfUrl, reportName) {
        var link = document.createElement("a");
        link.href = pdfUrl;
        link.download = reportName;
        link.click();
    }
    function base64ToArrayBuffer(base64) {
        var binaryString = window.atob(base64);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        return new Promise((resolve, reject) => {
            resolve(bytes);
        });
    }
    function saveByteArray(reportName, byte) {
        var blob = new Blob([byte], { type: "application/pdf" });
        var link = document.createElement("a");
        link.type = blob.type;
        link.href = window.URL.createObjectURL(blob);
        link.download = reportName;
        link.click();
    }
</script>