@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    SiparisHata.Icerik = "";
}

<br />

<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <center><h2>ONAY BEKLEYEN SİPARİŞLER</h2></center>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered" style="width:100%; font-size:16px;">
                            <thead>
                                <tr style="background-color:#B17F2C">
                                    <th style="color:black;"><center>BAYİ ADI</center></th>
                                    <th style="color:black;"><center>SİPARİŞ ADI</center></th>
                                    <th style="color:black;"><center>TOPLAM SİPARİŞ MİKTARI</center></th>
                                    <th style="color:black;"><center>SİPARİŞ TUTARI</center></th>
                                    <th style="color:black;"><center>SİPARİŞ DURUMU</center></th>
                                    <th style="color:black;"><center><i class="fas fa-pen"></i></center></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lütfen Genel Müdür Onaylı Evrağı Buraya Yükleyiniz...</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/SiparisApi/SiparisOnayla" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input id="SiparisNo" type="hidden" name="id" />
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imagee" name="imagee">
                        <label class="custom-file-label" for="imagee">Dosya Seç</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" style="float:right;">Onayla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var satir;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/SiparisApi/OnayBekleyenList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'bayiID',
                    render: function (data, type, full, meta) {
                        return '<center>' + data + '</center>';
                    }
                },
                {
                    data: 'siparisBayiAciklama',
                    render: function (data, type, full, meta) {
                        return '<center>' + data + '</center>';
                    }
                },
                {
                    data: 'toplamAdet',
                    render: function (data, type, full, meta) {
                        return '<center><span class="right badge badge-success" style="font-size:14px;">' + data + '</span></center>';
                    }
                },
                {
                    data: 'toplamTutar',
                    render: function (data, type, full, meta) {
                        return '<center>' + data + '</center>';
                    }
                },
                {
                    data: 'siparisDurum',
                    render: function (data, type, full, meta) {
                        return '<center>' + data + '</center>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<center><a href="/Siparis/YeniDetay/' + data + '" class="btn btn-info btn-sm" style="margin-right:3px;"><i class="fas fa-eye"></i> </a>' + '<button type="button" onclick="onayla(' + data + ')" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-check"></i></button>' + ' <button type="button" onclick="sil(' + data + ')" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></center>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '73vh',
            scrollCollapse: true,
            ordering: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SiparisSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function onayla(element) {
        satir = element;
        $("#SiparisNo").val(element);
    }

    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("imagee").files[0].name;
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    });
</script>