@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "TeslimatDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    SiparisHata.Icerik = "";
    int id = Convert.ToInt32(ViewBag.id);
}
<br />
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Teslimat Bilgileri</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="fas fa-user mr-1"></i> Bayi Bilgileri</strong>
                        <p class="text-muted" id="txtmusteriadi">
                            Müşteri Adı :
                        </p>
                        <p class="text-muted" id="txtfaturaunvan">
                            Fatura Ünvanı :
                        </p>
                        <p class="text-muted" id="txttelefon">
                            Telefon :
                        </p>
                        <p class="text-muted" id="txtadres">
                            Adres :
                        </p>
                        <hr>
                        <strong><i class="fas fa-user mr-1"></i> Hazırlayan</strong>

                        <p class="text-muted" id="txtkullanici">Hazırlayan : </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Teslimat Bilgileri</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="fas fa-user mr-1"></i> Belge Bilgileri</strong>

                        <p class="text-muted" id="txtteslimatno">
                            Teslimat No :
                        </p>
                        <p class="text-muted" id="txttarih">
                            Teslimat Tarihi :
                        </p>
                        <p class="text-muted" id="txtteslimatsekli">
                            Teslim Şekli :
                        </p>
                        <p class="text-muted" id="txttesadres">
                            Teslim Adres :
                        </p>
                        <hr />
                        <div style="float:right;">
                            <a href="#" class="btn btn-info tn-sm"><i class="fas fa-print"></i> Yazdır</a>
                            <a href="#" class="btn btn-primary tn-sm" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-truck"></i> Teslim Et</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header border-transparent">
                <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Teslim Edilen Ürünler</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Ürün Adı</th>
                                            <th>Sipariş No</th>
                                            <th>Sipariş Miktarı</th>
                                            <th>Hazır Miktar</th>
                                            <th>Teslim Edilen Miktar</th>
                                            <th>Kalan Miktar</th>
                                            <th>Renk / Deri / Notlar</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Teslimat Bilgileri</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6" style="float:left;">
                        <strong><i class="fas fa-truck mr-1"></i> Araç Bilgileri</strong>

                        <p class="text-muted" id="txtplaka">
                            Araç Plaka :
                        </p>
                        <p class="text-muted" id="txtTeslimEden">
                            Teslim Eden :
                        </p>
                        <p class="text-muted" id="txtTeslimAlan">
                            Teslim Alan :
                        </p>
                    </div>
                    <hr>
                    <div class="col-6" style="float:right;">
                        <strong><i class="fas fa-box mr-1"></i> Koli Bilgileri</strong>

                        <p class="text-muted" id="txttopurun">
                            Toplam Ürün Adedi :
                        </p>
                        <p class="text-muted" id="txttopparca">
                            Toplam Parça Adedi :
                        </p>
                        <p class="text-muted" id="txttopm3">
                            Toplam M3 :
                        </p>
                        <p class="text-muted" id="txttopKG">
                            Toplam KG :
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Teslimat Tamamla</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <input id="ID" type="hidden" name="ID" value="@id" />
                    <div class="form-group mb-3">
                        <label>Teslim Tarihi (Boş Geçildiği Takdirde Güncel Tarih Baz Alınacaktır...)</label>
                        <input type="date" class="form-control" id="TeslimatTarihi" name="TeslimatTarihi">
                    </div>
                    <div class="form-group mb-3">
                        <label>Teslim Eden <span style="color:darkred;"> *</span></label>
                        <input type="text" class="form-control" id="TeslimEden" name="TeslimEden">
                    </div>
                    <div class="form-group mb-3">
                        <label>Teslim Alan <span style="color:darkred;"> *</span></label>
                        <input type="text" class="form-control" id="TeslimAlan" name="TeslimAlan">
                    </div>
                    <div class="form-group mb-3">
                        <label>Araç Plaka <span style="color:darkred;"> *</span></label>
                        <input type="text" class="form-control" id="AracPlaka" name="AracPlaka">
                    </div>
                    <div class="form-group mb-3">
                        <label>Teslimat Şekli <span style="color:darkred;"> *</span></label>
                        <input type="text" class="form-control" id="TeslimSekli" name="TeslimSekli">
                    </div>
                    <div class="form-group mb-3">
                        <label>Teslimat Adresi <span style="color:darkred;"> *</span></label>
                        <textarea type="text" class="form-control" id="TeslimAdres" name="TeslimAdres" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="TeslimForm(@id)" class="btn btn-success" style="float:right;">Teslim Et</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var teslimdurum = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/SiparisApi/TeslimatIcerik/@id',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'urunID' },
                { data: 'siparisID' },
                { data: 'siparisMiktari' },
                { data: 'hazirMiktar' },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        if (teslimdurum == 0) {
                            return '<input type="number" style="text-align:center; width: 100%; box-sizing: border-box; padding: 4px; margin: 0;" class="miktar-input" id="mik-' + data + '" placeholder="' + row.miktar + '">';
                        }
                        else {
                            return '' + row.miktar + '';
                        }
                    }
                },
                { data: 'kalanMiktar' },
                { data: 'aciklama' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        if (teslimdurum == 0) {
                            return '<div class="row"><div class="col-6"><button class="btn btn-info btn-xs" style="margin-right:2px; float:left;" type="button" onclick="AddForm(' + data + ')"> Güncelle</a></div>' + '<div class="col-6"><button type="button" onclick="sil(' + data + ')" style="float:right;" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></button></div></div>'
                        }
                        else {
                            return '<div></div>';
                        }
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '73vh',
            scrollCollapse: true,
            ordering: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        Bilgiler();
        initializeDataTable();
    }
    $(document).ready(function () {
        Bilgiler();
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/TeslimatIcerikSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm(element) {
        var formData = {
            ID: element,
            Miktar: $("#mik-" + element).val(),
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/TeslimatIcerikDuzenle',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                if (result.status == "success") {
                    tabloGuncelle();
                }
            }
        });
    }
    function TeslimForm(element) {
        var formData = {
            ID: element,
            TeslimatTarihi: $("#TeslimatTarihi").val(),
            TeslimEden: $("#TeslimEden").val(),
            TeslimAlan: $("#TeslimAlan").val(),
            AracPlaka: $("#AracPlaka").val(),
            TeslimSekli: $("#TeslimSekli").val(),
            TeslimAdres: $("#TeslimAdres").val(),
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/TeslimOnayla',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                if (result.status == "success") {
                    tabloGuncelle();
                    $("#TeslimatTarihi").val() = "";
                    $("#TeslimEden").val() = "";
                    $("#TeslimAlan").val() = "";
                    $("#AracPlaka").val() = "";
                    $("#TeslimSekli").val() = "";
                    $("#TeslimAdres").val() = "";
                }
            }
        });
    }
    function Bilgiler() {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/TeslimatDetayBilgi",
            data: { id: @id },
            success: function (x) {
                if (x.aracPlaka != null && x.aracPlaka.length > 0) {
                    teslimdurum = 1;
                }
                $("#txtplaka").text("Araç Plaka :" + x.aracPlaka);
                $("#txtTeslimEden").text("Teslim Eden :" + x.teslimEden);
                $("#txtTeslimAlan").text("Tesalim Alan :" + x.teslimAlan);
                $("#txttopurun").text("Toplam Ürün Adedi :" + x.toplamAdet);
                $("#txttopparca").text("Toplam Parça :" + x.toplamParca);
                $("#txttopm3").text("Toplam M3 :" + x.toplamM3);
                $("#txttopKG").text("Toplam KG :" + x.toplamKG);

                $("#txtmusteriadi").text("Müşteri Adı :" + x.musteriAdi);
                $("#txtfaturaunvan").text("Fatura Ünvanı :" + x.faturaUnvan);
                $("#txttelefon").text("Telefon :" + x.telefon);
                $("#txtadres").text("Adres :" + x.adres);
                $("#txtkullanici").text("Hazırlayan :" + x.kullaniciID);
                $("#txtteslimatno").text("Teslimat No :" + x.teslimatNo);
                $("#txttarih").text("Teslimat Tarihi :" + x.teslimatTarihi);
                $("#txtteslimatsekli").text("Teslimat Şekli :" + x.teslimSekli);
                $("#txttesadres").text("Teslimat Adresi :" + x.teslimAdres);

            }
        });
    }
</script>