@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Teslimat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    SiparisHata.Icerik = "";
}
<br />

<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Teslimat Oluştur</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sipariş No</th>
                                    <th>Bayi Adı</th>
                                    <th>Ürün Adı</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Sipariş Miktarı</th>
                                    <th>Kalan Miktar</th>
                                    <th>Renk / Deri / Notlar</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                        <button onclick="uyari()" class="btn btn-primary mb-2 mr-2 btn-rounded" style="float:right;">Teslimat Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/SiparisApi/YukHazirList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'siparisID' },
                { data: 'bayiID' },
                { data: 'urunID' },
                { data: 'siparisTarihi' },
                { data: 'miktar' },
                { data: 'teslimAdet' },
                { data: 'aciklama' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<input style="width: 10px; height: 10px; transform: scale(4); " type="checkbox" class="select-checkbox" id="ch-' + data + '" value="' + data + '"><label for="ch-' + data + '" style="margin-left:15px; margin-bottom:5px;"> Seç</label>';
                    },
                    orderable: false
                },
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '73vh',
            scrollCollapse: true,
            ordering: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function uyari() {
        swal.fire({
            title: 'Emin Misin?',
            text: "Seçilen Ürünler İçin Teslimat Belgesi Oluşturulacak!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Oluştur!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                Gonder();
            }
        })
    }
    function Gonder(){
        var selectedIds = [];
        $('.select-checkbox:checked').each(function () {
            selectedIds.push($(this).val());
        });
        if (selectedIds.length > 0) {
            $.ajax({
                url: '/SiparisApi/TeslimatOlustur',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedIds),
                success: function (result) {
                    swal.fire({
                        title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                        text: result.message,
                        type: result.status === "success" ? 'success' : 'warning',
                        confirmButtonText: 'Tamam'
                    });
                    if (result.status == "success") {
                        tabloGuncelle();
                    }
                }
            });
        }
        else {
            Swal.fire({
                title: 'Uyarı',
                text: 'Lütfen en az bir ürün seçin.',
                icon: 'warning',
                confirmButtonText: 'Tamam'
            });
        }
    }
</script>