@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "UrunSevk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    DepoHata.Icerik = "";
}

<br />
<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Hammadde & Hırdavatlar Listesi</h4>
                        </div>
                        <div class="col">
                            @Html.DropDownList("fUrunTuruID", (List<SelectListItem>)ViewBag.urungrubu, "Ürün Türü Filtrele", new { @class = "form-control basic", id = "fUrunTuruID" })
                        </div>
                        <div class="col">
                            <input type="text" id="searchUrunAciklama" class="form-control" placeholder="Ürün Marka Ara">
                        </div>
                        <div class="col">
                            <input type="text" id="searchUrunAdi" class="form-control" placeholder="Ürün Adı Ara">
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover" style="width:100%; color:black;">
                            <thead>
                                <tr style="color:white;">
                                    <th>Resim</th>
                                    <th>Ürün Türü</th>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün Adı</th>
                                    <th>Marka</th>
                                    <th>Kritik Stok Miktarı</th>
                                    <th>Güncel Stok</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hammdde & Hırdavat Çıkar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="UrunCikarForm">
                <div class="modal-body">
                    <input id="id" type="hidden" name="id" />
                    <div class="form-group mb-3">
                        <label>Miktar</label>
                        <input type="text" class="form-control" id="Adet" name="Adet">
                    </div>
                    <div class="form-group mb-3">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" id="Aciklama" name="Aciklama">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="UrunCikar()" class="btn btn-danger" style="float:right;">Çıkar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var urunid;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/UrunApi/HammaddeHirdavatList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<img id="img_' + data + '" loading="lazy" class="img-thumbnail" style="width: 150px; height: 100px;" src="" />';
                    }
                },
                { data: 'urunTuru' },
                { data: 'urunKodu' },
                { data: 'urunAdi' },
                { data: 'urunAciklama' },
                { data: 'kritikStokMiktari' },
                { data: 'stokMiktari' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<button type="button" onclick="onayla(' + data + ')" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-check"></i></button>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: true,
            pageLength: 25,
            scrollY: '120vh',
            scrollCollapse: true,
            ordering: false,
            rowCallback: function (row, data, index) {
                if (data.kritikStokMiktari >= data.stokMiktari) {
                    $(row).addClass('table-danger');
                }
            },
            initComplete: function (settings, json) {
                loadImages();
            }
        });
        myDataTable.on('draw', function () {
            loadImages();
        });

        $('#searchUrunAciklama').on('keyup', function () {
            var searchValue = this.value;
            myDataTable.column(4).search(searchValue).draw();
            loadImages();
        });

        $('#searchUrunAdi').on('keyup', function () {
            var searchValue = this.value;
            myDataTable.column(3).search(searchValue).draw();
            loadImages();
        });

        $('#fUrunTuruID').on('change', function () {
            var selectedText = $("#fUrunTuruID option:selected").text();
            if (selectedText !== "Ürün Türü Filtrele") {
                myDataTable.column(1).search(selectedText).draw();
                loadImages();
            } else {
                myDataTable.column(1).search('').draw();
            }
        });
    }
    function loadImages() {
        $('td img.img-thumbnail').each(function () {
            var imgElement = $(this);
            var id = imgElement.attr('id').split('_')[1];

            if (imgElement.attr('src') === '') {
                $.ajax({
                    url: '/UrunApi/GetResim',
                    method: 'POST',
                    data: { id: id },
                    xhrFields: {
                        responseType: 'blob' // Blob tipi ile yanıt alın
                    },
                    success: function (blob) {
                        var url = URL.createObjectURL(blob);
                        imgElement.attr('src', url); // Blob URL'yi kullanarak resmi yükle
                    }
                });
            }
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function onayla(element) {
        urunid = element;
        $("#id").val(element);
    }
    function UrunCikar() {
        var formData = {
            id: urunid,
            Adet: $("#Adet").val(),
            Aciklama: $("#Aciklama").val(),
        };
        $.ajax({
            type: "POST",
            url: '/DepoApi/UrunSevk',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                if (result.status == "success") {
                    tabloGuncelle();
                }
            }
        });
    }
</script>