@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    UrunHata.Icerik = "";
}

<br />
<div class="card">
    <div class="card-header border-transparent">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <center><h2>GÜNCEL STOK LİSTESİ</h2></center>
                        </div>
                        <div class="col">
                            @Html.DropDownList("fUrunKategoriID", (List<SelectListItem>)ViewBag.kat, "Kategori Filtrele", new { @class = "form-control basic", id = "fUrunKategoriID" })
                        </div>
                        <div class="col">
                            @Html.DropDownList("fUrunTuruID", (List<SelectListItem>)ViewBag.urungrubu, "Ürün Türü Filtrele", new { @class = "form-control basic", id = "fUrunTuruID" })
                        </div>
                        <div class="col">
                            <input type="text" id="searchUrunAciklama" class="form-control" placeholder="Ürün Marka Ara">
                        </div>
                        <div class="col">
                            <input type="text" id="searchUrunAdi" class="form-control" placeholder="Ürün Adı Ara">
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover" style="width:100%">
                            <thead>
                                <tr style="color:white;">
                                    <th>RESİM</th>
                                    <th>ÜRÜN TÜRÜ</th>
                                    <th>ÜRÜN KATEGORİ</th>
                                    <th>ÜRÜN KODU</th>
                                    <th>ÜRÜN MARKA</th>
                                    <th>ÜRÜN ADI</th>
                                    <th>KRİTİK STOK MİKTARI</th>
                                    <th>GÜNCEL STOK</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/UrunApi/UrunList',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<img id="img_' + data + '" loading="lazy" class="img-thumbnail" style="width: 150px; height: 100px;" src="" />';
                    }
                },
                { data: 'urunTuru' },
                { data: 'urunKategori' },
                { data: 'urunKodu' },
                { data: 'urunAciklama' },
                { data: 'urunAdi' },
                { data: 'kritikStokMiktari' },
                { data: 'stokMiktari' }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: true,
            pageLength: 25,
            scrollY: '120vh',
            scrollCollapse: true,
            ordering: false,
            initComplete: function (settings, json) {
                loadImages();
            }
        });

        myDataTable.on('draw', function () {
            loadImages();
        });

        $('#searchUrunAciklama').on('keyup', function () {
            var searchValue = this.value;
            myDataTable.column(4).search(searchValue).draw();
            loadImages();
        });

        $('#searchUrunAdi').on('keyup', function () {
            var searchValue = this.value;
            myDataTable.column(5).search(searchValue).draw();
            loadImages();
        });

        $('#fUrunTuruID').on('change', function () {
            var selectedText = $("#fUrunTuruID option:selected").text();
            if (selectedText !== "Ürün Türü Filtrele") {
                myDataTable.column(1).search(selectedText).draw();
                loadImages();
            } else {
                myDataTable.column(1).search('').draw();
            }
        });

        $('#fUrunKategoriID').on('change', function () {
            var selectedText = $("#fUrunKategoriID option:selected").text();
            if (selectedText !== "Bayi Paneli Kategori Filtrele") {
                myDataTable.column(2).search(selectedText).draw();
                loadImages();
            } else {
                myDataTable.column(2).search('').draw();
            }
        });
    }
    function loadImages() {
        $('td img.img-thumbnail').each(function () {
            var imgElement = $(this);
            var id = imgElement.attr('id').split('_')[1];

            if (imgElement.attr('src') === '') {
                $.ajax({
                    url: '/UrunApi/GetResim',
                    method: 'POST',
                    data: { id: id },
                    xhrFields: {
                        responseType: 'blob' // Blob tipi ile yanıt alın
                    },
                    success: function (blob) {
                        var url = URL.createObjectURL(blob);
                        imgElement.attr('src', url); // Blob URL'yi kullanarak resmi yükle
                    }
                });
            }
        });
    }
    function normalizeTurkishCharacters(text) {
        return text.replace(/ç/g, 'c')
            .replace(/Ç/g, 'C')
            .replace(/ğ/g, 'g')
            .replace(/Ğ/g, 'G')
            .replace(/ı/g, 'i')
            .replace(/İ/g, 'I')
            .replace(/ö/g, 'o')
            .replace(/Ö/g, 'O')
            .replace(/ş/g, 's')
            .replace(/Ş/g, 'S')
            .replace(/ü/g, 'u')
            .replace(/Ü/g, 'U');
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
</script>