@using VNNB2B.Models.Hata
@{
    ViewData["Title"] = "OzellikDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }

    int id = Convert.ToInt32(ViewBag.id);
    ParametreHata.Icerik = "";
}
<br />
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header border-transparent">
                <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <center><h2>ÜRÜN ALT ÖZELLİĞİ EKLE</h2></center>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <form>
                                <input id="UrunOzellikTurlariID" type="hidden" value="@id" />
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="OzellikAdi" aria-describedby="emailHelp1" placeholder="Üzellik Tanımı">
                                </div>
                                <button type="button" onclick="AddForm()" class="btn btn-primary mt-3">Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header border-transparent">
                <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <center><h2>ÜRÜN ALT ÖZELLİK TANIMLARI</h2></center>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Özellik Türü</th>
                                            <th>Özellik Tanımı</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kayıt Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-header border-transparent">
                    <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <form>
                                    <div class="form-group mb-3">
                                        <label style="margin-bottom:-15px;">Ürün Özellik Türü</label>
                                        <input type="text" class="form-control" id="dUrunOzellikAdi" aria-describedby="emailHelp1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" onclick="Guncelle()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var satirid;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#myTable', {
            ajax: {
                url: '/ParametreApi/UrunAltOzellikTurlariList/@id',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'urunOzellikTurlariID' },
                { data: 'ozellikAdi' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-primary mb-2 mr-2 btn-rounded" href="#" onclick="SatirGuncelle(' + data + ')" data-toggle="modal" data-target="#modal"><i class="fas fa-pen"></i></a>' + '<button type="button" onclick="sil(' + data + ')" class="btn btn-danger mb-2 mr-2 btn-rounded"><i class="fas fa-trash"></i></button>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            paging: false,
            scrollY: '73vh',
            scrollCollapse: true,
            ordering: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/ParametreApi/UrunAltOzellikTurlariSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm() {
        var formData = {
            UrunOzellikTurlariID: $("#UrunOzellikTurlariID").val(),
            OzellikAdi: $("#OzellikAdi").val(),
        };
        $.ajax({
            type: "POST",
            url: "/ParametreApi/UrunAltOzellikTurlariEkle",
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                $("#OzellikAdi").val('');
                tabloGuncelle();
            }
        });
    }
    function SatirGuncelle(element) {
        satirid = element;
        $.ajax({
            type: "POST",
            url: "/ParametreApi/UrunAltOzellikBilgi",
            data: { id: element },
            success: function (x) {
                $("#dUrunOzellikAdi").val(x.ozellikAdi);
            }
        });
    }
    function Guncelle() {
        var formData = {
            OzellikAdi: $("#dUrunOzellikAdi").val(),
            ID: satirid,
        };
        $.ajax({
            type: "POST",
            url: "/ParametreApi/UrunAltOzellikTurlariDuzenle",
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
</script>