@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@inject Context c
@{
    ViewData["Title"] = "menu";
    Layout = "~/Views/Shared/_Bayi.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    BLoginHata.Icerik = "";

    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);
    int bayiid = Convert.ToInt32(cerez);
    var bayi = c.Bayilers.FirstOrDefault(v => v.ID == bayiid);
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title m-0">BİLGİ / INFO</h5>
    </div>
    <div class="card-body">
        <h6>Vanna Ofis Mobilyaları Bayilik Sistemine Hoş Geldiniz...</h6>
        @* <p class="card-title">
        VNN Ofis mobilyalar olarak 40 yılı aşkın süresir; ofis mobilyaları, makam ve personel çalışma alanları koltuk/kanepe grupları ve birçok farklı kategoride üretim, satış, toptan ve perakende faaliyetlerimiz ile sizlere hizmet vermekteyiz.
        Usta eller ve profesyonel ekibimizce titizlikle hazırlanan el işçiliği ürünlerimiz geçmişin ve günümüzün izlerini son derece dikkatle işleyerek Türkiye, Avrupa ve Ortadoğu olmak üzere Dünya'nın birçok bölgesine ihracat sağlamaktayız. Ürünlerimizin üretiminde insan sağlığına ve dünyamızın geleceğine etki edecek herhangi bir zararlı kimyasal kullanmadan, Türk Standartları Enstitüsü (TSE) formlarında ve Forest Stewardship Council (FSC) sertifikasından hareketle endüstriyel sanayi ormanlarından elde ettiğimiz ham maddeler ile üretimimizi sağlamaktayız. Ankara’da bulunan 12.000m² kapalı ve 4.500m² açık alana sahip fabrikamız ile "Yeni bir ofis hayal et" mottosundan yola çıkarak sektörümüze öncülük etmeye devam edeceğiz.
        </p> *@
        <p class="card-title" style="margin-top:15px;">
            Bu sistemden hatasız şekilde sipariş oluşturabilir ve ödemelerinizi yapabilirsiniz. Ayrıca yapmış olduğunuz işlemlerin, her zaman geriye dönük kontrolllerini sağlayabilirsiniz. Ürünlerimizin 3D çizim ve diğer detaylarına ilgili ürünün detay sayfasında bulabilirsiniz.
            En iyi ve daha fazlası için öneri ve görüşlerinizi info@vnn.com.tr adresinden bizlere ulaştırabilirsiniz.
            <br /><br />
        </p>
        <h6>Welcome to Vanna Office Furniture Dealership System...</h6>
        <p class="card-title" style="margin-top:15px;">
            You can create orders and make payments without any errors from this system. In addition, you can always perform retrospective checks on the transactions you have made. You can find 3D drawings and other details of our products on the detail page of the relevant product.

            <br /><br />
        </p>
        <a href="/Dosyalar/Katalog.pdf" target="_blank" class="btn" style="color:#B17F2C; border:double;">2024 Ürün Katalog / Product Catalog (PDF)</a>
        <a href="/Dosyalar/DolarFiyatListesi.pdf" target="_blank" class="btn" style="color:#B17F2C; border:double;">2024 Fiyat Listesi / Price List (USD)</a>
        <a href="/Dosyalar/TLFiyatListesi.pdf" target="_blank" class="btn" style="color:#B17F2C; border:double;">2024 Fiyat Listesi / Price List (TL)</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Siparişleriniz (Son 10) / Your Orders (Last 10)
                </h3>
            </div>
            <div class="card-body" style="font-size:14px;">
                <table id="SipTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sipariş No / Order No</th>
                            <th>
                                Sipariş Tarihi / Order Date
                            </th>
                            <th>
                                Sipariş Durumu /
                                Order Status
                            </th>
                            <th>Sipariş Detay / Order Detail</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Kullanıcı Bilgileriniz / Your User Information
                </h3>
            </div>
            <div class="card-body">
                <span><i class="fas fa-user"></i> @bayi.Yetkili</span>  <br />
                <span><i class="fas fa-envelope"> </i> @bayi.EPosta</span>
                <br />
                <span><i class="fas fa-phone"></i> @bayi.Telefon</span>
                <br />
                <span><i class="fas fa-industry"></i> @bayi.Unvan</span>
                <hr />
                <a href="/BLogin/Hesap" class="btn" style="color:#B17F2C; border:double;">Hesap Bilgileri</a>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var satirid = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#SipTable', {
            ajax: {
                url: '/SiparisApi/SiparisList10/@bayiid',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'siparisNo' },
                { data: 'siparisTarihi' },
                {
                    data: 'siparisDurum',
                    render: function (data, type, full, meta) {
                        let buttonClass;
                        switch (data) {
                            case "Sipariş Onaylandı...":
                                buttonClass = 'btn btn-primary';
                                break;
                            case "Onay Bekliyor...":
                                buttonClass = 'btn btn-secondary';
                                break;
                            case "Reddedildi...":
                                buttonClass = 'btn btn-danger';
                                break;
                            case "Kısmi Teslim Edildi...":
                                buttonClass = 'btn btn-warning';
                                break;
                            case "Tamamı Teslim Edildi...":
                                buttonClass = 'btn btn-success';
                                break;
                            default:
                                buttonClass = 'btn btn-light';
                                break;
                        }
                        return '<button class="' + buttonClass + ' btn-xs" style="font-size:14px; display: flex; align-items: center;">' + data + '</button>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/BLogin/SipDet/' + data + '" class=" btn-xs"style="color:#B17F2C; display: flex; align-items: center; font-size:14px;"> Detay --> </a>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            ordering: false,
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
</script>