@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_Bayi.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);
    int bayiid = Convert.ToInt32(cerez);
    BLoginHata.Icerik = "";
}

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    <small>
                        Sepet / Shopping Cart
                    </small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <center><h6 id="sepetyok" style="display:none;">Sepetinizde Ürün Bulunamadı! / No Products Found in Your Cart!</h6></center>
            <div id="sepet">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card-header">
                            <h3 class="card-title">
                                Sepet İçeriğiniz / Your Cart Content
                            </h3>
                        </div>
                        <div style="font-size:14px;">
                            <table class="table table-bordered" id="sepettable">
                                <thead>
                                    <tr>
                                        <th>
                                            Ürün Kodu /
                                            Product Code
                                        </th>
                                        <th>
                                            Ürün Açıklama /
                                            Product Description
                                        </th>
                                        <th>Adet / Piece</th>
                                        <th>Açıklama / Explanation</th>
                                        <th>Satır Toplam / Row Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="card-body" style="font-size:12px; float:right;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Toplam Sipariş Adedi / Total Order Number</th>
                                        <th id="txttoplamadet"></th>
                                    </tr>
                                    <tr>
                                        <th>Ara Toplam / Subtotal</th>
                                        <th id="txtaratoplam"></th>
                                    </tr>
                                    <tr>
                                        <th>Iskonto Toplam / Discount Total %@ViewBag.iskonto</th>
                                        <th id="txtiskontotoplam"></th>
                                    </tr>
                                    <tr>
                                        <th>KDV Toplam / VAT Total %@ViewBag.kdv</th>
                                        <th id="txtkdvtoplam"></th>
                                    </tr>
                                    <tr>
                                        <th>Genel Toplam / Grand Total</th>
                                        <th id="txtgeneltoplam"></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="footer" style="margin-top:14px;">
                                <button onclick="SepetOnay()" class="btn btn-success btn-xs" style="float:right;"><i class="fas fa-check"></i> Sepeti Onayla / Confirm Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var satirid = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#sepettable', {
            ajax: {
                url: '/SiparisApi/SepetList/@bayiid',
                method: 'POST',
                dataSrc: function (json) {
                    let dataCount = 0;
                    if (Array.isArray(json)) {
                        dataCount = json.length;
                    }
                    else if (json.data && Array.isArray(json.data)) {
                        dataCount = json.data.length;
                    }
                    if (dataCount == 0) {
                        document.getElementById('sepetyok').style.display = 'block';
                        document.getElementById('sepet').style.display = 'none';
                    }
                    else {
                        document.getElementById('sepetyok').style.display = 'none';
                        document.getElementById('sepet').style.display = 'block';
                    }
                    return json.data ? json.data : json;
                },
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'urunKodu' },
                { data: 'urunAciklama' },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return '<input type="number"  style="font-size:14px; text-align:center;" class="miktar-input" id="mik-' + data + '" placeholder="' + row.miktar + '">';
                    }
                },
                { data: 'aciklama' },
                { data: 'satirToplam' },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<div class="row"><div class="col-6"><button class="btn btn-info btn-xs" style="margin-right:2px; float:left;" type="button" onclick="SatirNo(' + data + ')"><i class="fas fa-edit"></i></a></div>' + '<div class="col-6"><button type="button" onclick="sil(' + data + ')" style="float:right;" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></button></div></div>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            ordering: false,
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function SatirNo(element) {
        satirid = element;
        AddForm();
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        Bilgiler();
        initializeDataTable();
    }
    $(document).ready(function () {
        Bilgiler();
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm() {
        var element = satirid;
        var formData = {
            ID: element,
            Miktar: $("#mik-" + element).val(),
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SepetGuncelle',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function SepetOnay() {
        swal.fire({
            title: 'Emin Misin?',
            text: "Sipariş Onaylanacak!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Onayla!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                SepetOnayPost();
            }
        })
    }
    function SepetOnayPost() {
        var formData = {
            id: @bayiid,
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SiparisOnay',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function Bilgiler() {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetIcerik",
            data: { id: @cerez },
            success: function (x) {
                console.log(x);
                $("#txttoplamadet").text(x.toplamAdet);
                $("#txtaratoplam").text(x.araToplam);
                $("#txtgeneltoplam").text(x.toplamTutar);
                $("#txtiskontotoplam").text(x.istoktoToplam);
                $("#txtkdvtoplam").text(x.kdvToplam);
            }
        });
    }
</script>