@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_Bayi.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);
    int bayiid = Convert.ToInt32(cerez);
    BLoginHata.Icerik = "";
}

<style>
    table.table-tab {
        border-collapse: collapse;
        width: 100%;
    }

        table.table-tab th, table.table-tab td {
            border: 2px double black;
        }

        table.table-tab th {
            background-color: #f8f9fa;
            color: #B17F2C;
            border-top: 2px solid #B17F2C;
        }

        table.table-tab td {
            background-color: white;
            color: #B17F2C;
        }

        table.table-tab thead th {
            border-top: 2px solid #B17F2C;
        }

    table.dataTable tbody tr {
        height: 25px;
    }

    table.dataTable tbody td {
        line-height: 25px;
        vertical-align: middle;
    }

    #sepettable, #sepettable th, #sepettable td {
        border: 1px solid black !important;
    }
</style>

<div class="content-header">
    <h1 class="m-0">
        <small>
            Sepet / Shopping Cart
        </small>
    </h1>
</div>


<div class="col-lg-12" id="BosSepetDiv">
    <center>
        <h4>SEPETTE ÜRÜN BULUNAMADI!! / NO PRODUCT FOUND IN THE CART!!</h4>
        <br />
        <a href="/BLogin/Urunler" class="btn btn-dark btn-sm"> ALIŞVERİŞ YAP / SHOP</a>
    </center>
</div>
<div class="col-lg-12" id="SepetDiv">
    <div class="card">
        <div class="card-body">
            <center><h4 style="color:#B17F2C;">SİPARİŞ FORMU / ORDER FORM</h4></center>
            <div class="row">
                <div class="col-6 col-sm-6">
                    <div class="card-body" style="font-size:16px;">
                        <table class=" table-tab" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        FATURA ÜNVANI / <span style="font-size:12px;">INVOICE TITLE</span>
                                    </th>
                                    <th style="color:black;width:22.5%; text-align: center; border-color:black;" id="txtunvan"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        FİRMA ADI / <span style="font-size:12px; border-color:black;">COMPANY NAME</span>
                                    </th>
                                    <th style="color:black; width:22.5%; text-align: center; border-color:black;" id="txtfirmaadi"></th>
                                </tr>
                                <tr style="background-color:black; height:20px;">
                                    <th style="background-color:black; border-color:black; color:black;">B</th>
                                    <th style="background-color:black; text-align: center; border-color:black;"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        SİPARİŞ ADI / <span style="font-size:12px;">ORDER NAME</span>
                                    </th>
                                    <th style="color:red;width:22.5%; text-align: center; font-size:16px; border-color:black;" id="txtmusteri"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">SİPARİŞ NO / <span style="font-size:12px;">ORDER NO</span></th>
                                    <th style="color:red;width:22.5%; text-align: center; border-color:black;" id="txtsiparisno"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">SİPARİŞ TARİHİ / <span style="font-size:12px;">ORDER DATE</span></th>
                                    <th style="color:red; width:22.5%; text-align: center; border-color:black;" id="txtsiparistarihi"></th>
                                </tr>
                                <tr style="background-color:black; height:20px;">
                                    <th style="background-color:black; border-color:black; color:black;">B</th>
                                    <th style="background-color:black; border-color:black;"></th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        TESLİMAT ŞEKLİ / <span style="font-size:12px;">
                                            DELIVERY METHOD
                                        </span>
                                    </th>
                                    <th style="color:black;width:22.5%; text-align: center; border-color:black;">
                                        <label id="txtteslimatSekli" style="color:red; border-color:black; height:15px; font-size:17px; font-weight:bold;"></label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">TESLİMAT TARİHİ / <span style="font-size:12px;">DEADLINE</span></th>
                                    <th style="color:red;width:22.5%; text-align: center; border-color:black;">

                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:22.5%; background-color:#B17F2C; color:black; border-color:black;">
                                        TESLİMAT ADRESİ / <span style="font-size:12px;">
                                            DELIVERY ADDRESS
                                        </span>
                                    </th>
                                    <th style="color:black;width:22.5%; border-color:black; text-align: center;" id="txtadres">
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-6 col-sm-6">
                    <div class="card-body" style="font-size:16px;">
                        <table class=" table-tab" style="width:100%; border-color:black;">
                            <thead>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - ADEDİ / <span style="font-size:12px;">TOTAL ORDER - NUMBER</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamadet"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - PAKET ADEDİ /<span style="font-size:12px;"> TOTAL ORDER - NUMBER OF PACKAGES</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamparcaadet"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - M3 /<span style="font-size:12px;"> TOTAL ORDER - M3</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamm3"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">TOPLAM SİPARİŞ - KG /<span style="font-size:12px;"> TOTAL ORDER - KG</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txttoplamkg"></th>
                                </tr>
                                <tr style="background-color:black; height:27px;">
                                    <th style="background-color:black; border-color:black;"></th>
                                    <th style="background-color:black; border-color:black;" "></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">LİSTE TOPLAM /<span style="font-size:12px;"> LİST TOTAL</span></th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txtaratoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">
                                        BAYİ İSKONTO /<span style="font-size:12px;"> DEALER DISCOUNT</span>
                                        %@ViewBag.iskonto
                                    </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black;" id="txtiskontotoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">
                                        İSKONTOLU FİYAT /<span style="font-size:12px;"> DISCOUNTED PRICE</span>
                                    </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtindirimlifiyat"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">KDV TOPLAM /<span style="font-size:12px;"> VAT TOTAL</span> %@ViewBag.kdv</th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtkdvtoplam"></th>
                                </tr>
                                <tr>
                                    <th style="color:black;width:60%;background-color:#B17F2C; border-color:black;">GENEL TOPLAM /<span style="font-size:12px;"> GRAND TOTAL</span> </th>
                                    <th style="color:black;width:40%; text-align: center; border-color:black; color:red; font-weight:bold; font-size:17px;" id="txtgeneltoplam"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div style="font-size:12px;">
                        <table class="table table-bordered" id="sepettable" style=" border-color:black;">
                            <thead>
                                <tr style="background-color:#B17F2C; border-color:black;">
                                    <th style="width:15%; border-color:black;">
                                        <center>
                                            ÜRÜN RESMİ <br />  <span style="font-size:9px;">PRODUCT IMAGE</span>
                                        </center>
                                    </th>
                                    <th style="width:5%; border-color:black;">
                                        <center>
                                            ÜRÜN KODU Kodu <br />  <span style="font-size:9px;">PRODUCT KODE</span>
                                        </center>
                                    </th>
                                    <th style="width:10%; border-color:black;">
                                        <center>
                                            ÜRÜN ADI <br />  <span style="font-size:9px;">PRODUCT NAME</span>
                                        </center>
                                    </th>
                                    <th style="width:5%; border-color:black;"><center>SİPARİŞ ADET <br />  <span style="font-size:9px;">ORDER QTY</span></center></th>
                                    <th style="width:10%; border-color:black;"><center>AHŞAP RENGİ <br />  <span style="font-size:9px;">WOOD COLOR</span></center></th>
                                    <th style="width:10%; border-color:black;"><center>DERİ RENGİ <br />  <span style="font-size:9px;">SKIN COLOR</span></center></th>
                                    <th style="width:10%; border-color:black;">
                                        <center>
                                            ÖZEL NOT
                                            <br />
                                            <span style="font-size:9px;">SPECIAL NOTE</span>
                                        </center>
                                    </th>
                                    <th style="width:9%; border-color:black;">
                                        <center>
                                            LİSTE FİYAT <br />
                                            <span style="font-size:9px;">LIST PRICE</span>
                                        </center>
                                    </th>
                                    <th style="width:9%; border-color:black;">
                                        <center>
                                            İNDİRİMLİ FİYAT <br />
                                            <span style="font-size:9px;">DISCOUNTED PRICE</span>
                                        </center>
                                    </th>
                                    <th style="width:9%; border-color:black;">
                                        <center>
                                            TOPLAM FİYAT<br />
                                            <span style="font-size:9px;">TOTAL PRICE</span>
                                        </center>
                                    </th>
                                    <th style="width:8%; border-color:black;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <br />
                    <button onclick="SepetOnay()" class="btn btn-success btn-xs" style="float:right;"><i class="fas fa-check"></i> Sepeti Onayla / Confirm Cart</button>
                    <button id="guncelleButton" class="btn btn-primary btn-xs" style="float:right; margin-right:10px;">
                        Hepsini Güncelle / Update All
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var sepetdurum = 0;
    var satirid = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#sepettable', {
            ajax: {
                url: '/SiparisApi/SepetList/@bayiid',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'resim',
                    render: function (data, type, full, meta) {
                        return '<center><img src="' + data + '" class="img-thumbnail" style="width: 100px;" /></center>';
                    }
                },
                {
                    data: 'urunKodu',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'urunAciklama',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return '<input type="number" style="text-align:center; width: 100%; box-sizing: border-box; padding: 4px; margin: 0;" class="miktar-input" id="mik-' + data + '" value="' + row.miktar + '">';
                    }
                },
                {
                    data: 'ahsapRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'deriRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return '<input type="text" style="text-align:center; width: 100%; box-sizing: border-box; background:white; padding: 4px; color:black; margin: 0;" class="form-control" id="acik-' + data + '" value="' + row.aciklama + '">';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        if (row.urunTuru == "Özel Ürün") {
                            return '<input type="text" style="text-align:center; width: 100%; box-sizing: border-box; background:white; padding: 4px; color:black; margin: 0;" class="form-control" id="listfiyat-' + data + '" value="' + row.birimFiyat + '">';
                        }
                        else {
                            return '<div style="text-align: center;">' + row.birimFiyat + '</div>';
                        }
                    }
                },
                {
                    data: 'indirimFiyat',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'satirToplam',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<cnter><button class="btn btn-info btn-xs" style="margin-right:2px; float:center;" type="button" onclick="SatirNo(' + data + ')"> Düzenle</a>' + '<button type="button" onclick="sil(' + data + ')" style="float:center;" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></button></center>'
                    }
                }
            ],
            ordering: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function SatirNo(element) {
        satirid = element;
        AddForm();
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        Bilgiler();
        initializeDataTable();
    }
    $(document).ready(function () {
        Bilgiler();
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    $(document).ready(function () {
        $('#guncelleButton').on('click', function () {
            let guncellenecekVeriler = [];

            $('.miktar-input').each(function () {
                let id = $(this).attr('id').split('-')[1];
                let miktar = $(this).val();

                if (miktar) {
                    guncellenecekVeriler.push({ id: id, miktar: miktar });
                }
            });

            if (guncellenecekVeriler.length === 0) {
                Swal.fire({
                    title: 'UYARI! / WARNING!',
                    text: 'GÜNCELLENECEK VERİ YOK! / UPDATE DATA NULL!',
                    icon: 'warning',
                });
                return;
            }

            $.ajax({
                url: '/SiparisApi/TopluGuncelle',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(guncellenecekVeriler),
                success: function (response) {
                    Swal.fire({
                        title: 'BAŞARILI! / SUCCESS!',
                        text: 'SİPARİŞ KALEMLERİ GÜNCELLENDİ... / ORDER ITEMS HAVE BEEN UPDATED...',
                        icon: 'success',
                    });
                    tabloGuncelle();
                },
                error: function (xhr, error, thrown) {
                    Swal.fire({
                        title: 'HATA! / ERROR!',
                        text: 'HATA / ERROR',
                        icon: 'error',
                    });
                }
            });
        });
    });
    function AddForm() {
        var element = satirid;
        var formData = {
            ID: element,
            Miktar: $("#mik-" + element).val(),
            Aciklama: $("#acik-" + element).val(),
            BirimFiyat: $("#listfiyat-" + element).val(),
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SepetGuncelle',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function SepetOnay() {
        swal.fire({
            title: 'Emin Misin?',
            html: "SİPARİŞ ONAYLANACAK EMİN MİSİNİZ?<br>ARE YOU SURE THE ORDER WILL BE CONFIRMED?",
            input: 'text',
            inputPlaceholder: 'SİPARİŞ ADI / ORDER NAME',
            inputAttributes: {
                'aria-label': 'SİPARİŞ ADI / ORDER NAME'
            },
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Onayla! / Confirm!',
            cancelButtonText: 'Vazgeç! / Cancel!',
            reverseButtons: true,
            padding: '2em',
            preConfirm: (value) => {
                if (!value) {
                    swal.showValidationMessage('LÜTFEN SİPARİŞ ADINI BOŞ BIRAKMAYINIZ! / PLEASE DO NOT LEAVE ORDER NAME BLANK!')
                }
                return value.toUpperCase();
            }
        }).then(function (result) {
            if (result.value) {
                SepetOnayPost(result.value);
            }
        })
    }
    function SepetOnayPost(element) {
        var formData = {
            id: @bayiid,
            musteri: element,
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SiparisOnay',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function Bilgiler() {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetIcerik",
            data: { id: @cerez },
            success: function (x) {
                if (x.siparisNo == null) {
                    sepetdurum = 1;
                    $("#BosSepetDiv").css("display", "block");
                    $("#SepetDiv").css("display", "none");
                } else {
                    $("#SepetDiv").css("display", "block");
                    $("#BosSepetDiv").css("display", "none");
                }
                $("#txttoplamadet").text(x.toplamAdet);
                $("#txtaratoplam").text(x.araToplam);
                $("#txtgeneltoplam").text(x.toplamTutar);
                $("#txtiskontotoplam").text(x.istoktoToplam);
                $("#txtkdvtoplam").text(x.kdvToplam);
                $("#txtsiparisno").text(x.siparisNo);
                $("#txtsiparistarihi").text(x.siparisTarihi);
                $("#txtsiparisdurum").text(x.siparisDurum);
                $("#txtkullanici").text(x.kullanici);
                $("#txtindirimlifiyat").text(x.indirimlifiyat);
                $("#txtunvan").text(x.unvan);
                $("#txtfirmaadi").text(x.firmaAdi);
                $("#txtyetkili").text(x.yetkili);
                $("#txttelefon").text(x.telefon);
                $("#txtadres").text(x.adres);
                $("#txttoplamparcaadet").text(x.toplamparcaadet);
                $("#txttoplamm3").text(x.toplamm3);
                $("#txttoplamkg").text(x.toplamkg);
            }
        });
    }
</script>