@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_Bayi.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);
    int bayiid = Convert.ToInt32(cerez);
    BLoginHata.Icerik = "";
}

<style>
    table.table-tab {
        border-collapse: collapse;
        width: 100%;
    }

        table.table-tab th, table.table-tab td {
            border: 2px double #B17F2C;
        }

        table.table-tab th {
            background-color: #f8f9fa;
            color: #B17F2C;
            border-top: 2px solid #B17F2C;
        }

        table.table-tab td {
            background-color: white;
            color: #B17F2C;
        }

        table.table-tab thead th {
            border-top: 2px solid #B17F2C;
        }

    table.dataTable tbody tr {
        height: 25px;
    }

    table.dataTable tbody td {
        line-height: 25px;
        vertical-align: middle;
    }
</style>

<div class="content-header">
    <h1 class="m-0">
        <small>
            Sepet / Shopping Cart
        </small>
    </h1>
</div>


<div class="col-lg-12" id="BosSepetDiv">
    <center>
        <h4>SEPETTE ÜRÜN BULUNAMADI!! / NO PRODUCT FOUND IN THE CART!!</h4>
        <br />
        <a href="/BLogin/Urunler" class="btn btn-dark btn-sm"> ALIŞVERİŞ YAP / SHOP</a>
    </center>
</div>
<div class="col-lg-12" id="SepetDiv">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="card-body" style="font-size:16px;">
                        <table class=" table-tab" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        FATURA ÜNVANI / <span style="font-size:12px;">INVOICE TITLE</span>

                                    </th>
                                    <th style="color:black;" id="txtunvan"></th>
                                </tr>
                                <tr>
                                    <th>
                                        FİRMA ADI / <span style="font-size:12px;">COMPANY NAME</span>
                                    </th>
                                    <th style="color:black;" id="txtfirmaadi"></th>
                                </tr>
                                <tr>
                                    <th>SİPARİŞ NO / <span style="font-size:12px;">ORDER NO</span></th>
                                    <th style="color:black;" id="txtsiparisno"></th>
                                </tr>
                                <tr>
                                    <th>SİPARİŞ TARİHİ / <span style="font-size:12px;">ORDER DATE</span></th>
                                    <th style="color:black;" id="txtsiparistarihi"></th>
                                </tr>
                                <tr>
                                    <th>
                                        TESLİMAT ŞEKLİ / <span style="font-size:12px;">
                                            DELIVERY METHOD
                                        </span>
                                    </th>
                                    <th style="color:black;">
                                        FABRİKA TESLİM / <span style="font-size:12px;">
                                            FACTORY DELIVERY
                                        </span>
                                    </th>
                                </tr>
                                @* <tr>
                                <th>ONAYLAYAN YETKİLİ / <span style="font-size:12px;">APPROVING AUTHORITY</span></th>
                                <th id="txtkullanici"></th>
                                </tr> *@
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div style="font-size:12px;">
                        <table class="table table-bordered" id="sepettable">
                            <thead>
                                <tr style="background-color:#B17F2C">
                                    <th style="width:15%;">
                                        <center>
                                            Ürün Resmi <br /> Product Image
                                        </center>
                                    </th>
                                    <th style="width:5%;">
                                        <center>
                                            Ürün Kodu <br /> Product Kode
                                        </center>
                                    </th>
                                    <th style="width:10%;">
                                        <center>
                                            Ürün Adı <br /> Product Name
                                        </center>
                                    </th>
                                    <th style="width:5%;"><center>Adet <br /> Amount</center></th>
                                    <th style="width:10%;"><center>Ahşap Rengi <br /> Wood Color</center></th>
                                    <th style="width:10%;"><center>Deri Rengi <br /> Skin Color</center></th>
                                    <th style="width:10%;">
                                        <center>
                                            Özel Not
                                            <br />
                                            Special Note
                                        </center>
                                    </th>
                                    <th style="width:9%;">
                                        <center>
                                            Liste Fiyat <br />
                                            List Price
                                        </center>
                                    </th>
                                    <th style="width:9%;">
                                        <center>
                                            İndirimli Fiyat <br />
                                            Discounted Price
                                        </center>
                                    </th>
                                    <th style="width:9%;">
                                        <center>
                                            Toplam Fiyat<br />
                                            Total Price
                                        </center>
                                    </th>
                                    <th style="width:8%;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-body">
                                <table class="table-tab">
                                    <thead>
                                        <tr>
                                            <th style="width:50%;">TOPLAM SİPARİŞ - ADEDİ</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txttoplamadet"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%;">TOPLAM SİPARİŞ - PARÇA ADEDİ</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txttoplamparcaadet"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%;">TOPLAM SİPARİŞ - M3</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txttoplamm3"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%;">TOPLAM SİPARİŞ - KG</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txttoplamkg"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <table class="table-tab">
                                    <thead>
                                        <tr>
                                            <th style="width:50%;">LİSTE TOPLAM</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txtaratoplam"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%;">BAYİ İSKONTO %@ViewBag.iskonto</th>
                                            <th style="width:50%; color:black; text-align: center;" id="txtiskontotoplam"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%; background-color:lightgray;">İSKONTOLU FİYAT</th>
                                            <th style="width:50%; color:black; background-color:lightgray; text-align: center;" id="txtindirimlifiyat"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%; background-color:lightgray;">KDV TOPLAM %@ViewBag.kdv</th>
                                            <th style="width:50%; color:black; background-color:lightgray; text-align: center;" id="txtkdvtoplam"></th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%; background-color:lightgray;">GENEL TOPLAM</th>
                                            <th style="width:50%; color:black; background-color:lightgray; text-align: center;" id="txtgeneltoplam"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <button onclick="SepetOnay()" class="btn btn-success btn-xs" style="float:right;"><i class="fas fa-check"></i> Sepeti Onayla / Confirm Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var sepetdurum = 0;
    var satirid = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#sepettable', {
            ajax: {
                url: '/SiparisApi/SepetList/@bayiid',
                method: 'POST',
                dataSrc: '',
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                {
                    data: 'resim',
                    render: function (data, type, full, meta) {
                        return '<img src="' + data + '" class="img-thumbnail" style="width: 100px;" />';
                    }
                },
                {
                    data: 'urunKodu',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'urunAciklama',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return '<input type="number" style="text-align:center; width: 100%; box-sizing: border-box; padding: 4px; margin: 0;" class="miktar-input" id="mik-' + data + '" placeholder="' + row.miktar + '">';
                    }
                },
                {
                    data: 'ahsapRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'deriRengi',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'aciklama',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'birimFiyat',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'indirimFiyat',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'satirToplam',
                    render: function (data, type, row, meta) {
                        return '<div style="text-align: center;">' + data + '</div>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<cnter><button class="btn btn-info btn-xs" style="margin-right:2px; float:center;" type="button" onclick="SatirNo(' + data + ')"> Düzenle</a>' + '<button type="button" onclick="sil(' + data + ')" style="float:center;" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></button></center>'
                    }
                }
            ],
            ordering: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function SatirNo(element) {
        satirid = element;
        AddForm();
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        Bilgiler();
        initializeDataTable();
    }
    $(document).ready(function () {
        Bilgiler();
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function AddForm() {
        var element = satirid;
        var formData = {
            ID: element,
            Miktar: $("#mik-" + element).val(),
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SepetGuncelle',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function SepetOnay() {
        swal.fire({
            title: 'Emin Misin?',
            text: "Sipariş Onaylanacak!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Onayla!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                SepetOnayPost();
            }
        })
    }
    function SepetOnayPost() {
        var formData = {
            id: @bayiid,
        };
        $.ajax({
            type: "POST",
            url: '/SiparisApi/SiparisOnay',
            data: formData,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
    function Bilgiler() {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SepetIcerik",
            data: { id: @cerez },
            success: function (x) {
                if (x.siparisNo == null) {
                    sepetdurum = 1;
                    $("#BosSepetDiv").css("display", "block");
                    $("#SepetDiv").css("display", "none");
                } else {
                    $("#SepetDiv").css("display", "block");
                    $("#BosSepetDiv").css("display", "none");
                }
                $("#txttoplamadet").text(x.toplamAdet);
                $("#txtaratoplam").text(x.araToplam);
                $("#txtgeneltoplam").text(x.toplamTutar);
                $("#txtiskontotoplam").text(x.istoktoToplam);
                $("#txtkdvtoplam").text(x.kdvToplam);
                $("#txtsiparisno").text(x.siparisNo);
                $("#txtsiparistarihi").text(x.siparisTarihi);
                $("#txtsiparisdurum").text(x.siparisDurum);
                $("#txtkullanici").text(x.kullanici);
                $("#txtindirimlifiyat").text(x.indirimlifiyat);
                $("#txtunvan").text(x.unvan);
                $("#txtfirmaadi").text(x.firmaAdi);
                $("#txtyetkili").text(x.yetkili);
                $("#txttelefon").text(x.telefon);
                $("#txtadres").text(x.adres);
                $("#txttoplamparcaadet").text(x.toplamparcaadet);
                $("#txttoplamm3").text(x.toplamm3);
                $("#txttoplamkg").text(x.toplamkg);
            }
        });
    }
</script>