@using VNNB2B.Models.Hata
@inject IHttpContextAccessor HttpContextAccessor
@using DataAccessLayer.Concrate
@{
    ViewData["Title"] = "Siparis";
    Layout = "~/Views/Shared/_Bayi.cshtml";
}

@{
    string mesaj = ViewBag.hata;
    var hasError = !string.IsNullOrEmpty(ViewBag.hata);
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (hasError)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'info',
                    title: '@mesaj'
                });
            });
        </script>
    }
    string cerez;
    HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("VNNBayiCerez", out cerez);

    int bayiid = Convert.ToInt32(cerez);
    BLoginHata.Icerik = "";
}

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    <small>
                        Siparişlerim / My Orders
                    </small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <center><h6 id="sepetyok" style="display:none;">Geçmiş Sipariş Bulunamadı! / No Past Order Found!</h6></center>
            <div id="sepet">
                <div style="font-size:14px;">
                    <table class="table table-bordered" id="sepettable">
                        <thead>
                            <tr>
                            <tr>
                                <th>Sipariş No / Order No</th>
                                <th>
                                    Sipariş Tarihi / Order Date
                                </th>
                                <th>
                                    Sipariş Durumu /
                                    Order Status
                                </th>
                                <th>Sipariş Detay / Order Detail</th>
                            </tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    var satirid = 0;
    var myDataTable;
    function initializeDataTable() {
        myDataTable = new DataTable('#sepettable', {
            ajax: {
                url: '/SiparisApi/SiparisList/@bayiid',
                method: 'POST',
                dataSrc: function (json) {
                    let dataCount = 0;
                    if (Array.isArray(json)) {
                        dataCount = json.length;
                    }
                    else if (json.data && Array.isArray(json.data)) {
                        dataCount = json.data.length;
                    }
                    if (dataCount == 0) {
                        document.getElementById('sepetyok').style.display = 'block';
                        document.getElementById('sepet').style.display = 'none';
                    }
                    else {
                        document.getElementById('sepetyok').style.display = 'none';
                        document.getElementById('sepet').style.display = 'block';
                    }
                    return json.data ? json.data : json;
                },
                error: function (xhr, error, thrown) {
                    if (xhr.status === 404) {
                        Swal.fire({
                            title: 'Veri alınamadı',
                            animation: false,
                            customClass: 'animated tada',
                            padding: '2em'
                        });
                    }
                    return false;
                }
            },
            columns: [
                { data: 'siparisNo' },
                { data: 'siparisTarihi' },
                {
                    data: 'siparisDurum',
                    render: function (data, type, full, meta) {
                        let buttonClass;
                        switch (data) {
                            case "Sipariş Onaylandı...":
                                buttonClass = 'btn btn-primary';
                                break;
                            case "Onay Bekliyor...":
                                buttonClass = 'btn btn-secondary';
                                break;
                            case "Reddedildi...":
                                buttonClass = 'btn btn-danger';
                                break;
                            case "Kısmi Teslim Edildi...":
                                buttonClass = 'btn btn-warning';
                                break;
                            case "Tamamı Teslim Edildi...":
                                buttonClass = 'btn btn-success';
                                break;
                            default:
                                buttonClass = 'btn btn-light';
                                break;
                        }
                        return '<button class="' + buttonClass + ' btn-xs" style="font-size:14px; display: flex; align-items: center;">' + data + '</button>';
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, full, meta) {
                        return '<a href="/BLogin/SipDet/' + data + '" class=" btn-xs"style="color:#B17F2C; display: flex; align-items: center; font-size:14px;"> Detay --> </a>'
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            ordering: false,
            searching: false,
            lengthChange: false,
            paging: false,
            info: false,
        });
    }
    function tabloGuncelle() {
        if (myDataTable) {
            myDataTable.destroy();
        }
        initializeDataTable();
    }
    $(document).ready(function () {
        initializeDataTable();
    })
    function sil(element) {
        swal.fire({
            title: 'Emin Misin?',
            text: "Kayıt Silinecek!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Hayır, Vazgeç!',
            reverseButtons: true,
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                submitForm(element);
            }
        })
    }
    function submitForm(element) {
        $.ajax({
            type: "POST",
            url: "/SiparisApi/SiparisSil/" + element,
            dataType: "json",
            success: function (result) {
                swal.fire({
                    title: result.status === "success" ? 'Başarılı!' : 'Başarısız!',
                    text: result.message,
                    type: result.status === "success" ? 'success' : 'warning',
                    confirmButtonText: 'Tamam'
                });
                tabloGuncelle();
            }
        });
    }
</script>